body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#top, #information, .quote, #footer {
    padding: 0 12vw;
}

#top,
#footer {
    background-color: #212121;
    color: #F6F6F6;


    padding-top: 24px;
    padding-bottom: 24px;
}

#header, #footer {
    max-height: 64px;
}

#top {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#header {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header-logo {
    text-transform: uppercase;
}

.hero {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin-bottom: 24px;
}

.hero-text {
    flex: 2 1 300px;
    gap: 4px;
    min-width: min-content;
}

#hero-main {
    font-weight: 900;
    font-size: 48px;
    color: #F6F6F6;
    margin: 0;
}

#hero-img {
    background-color: #666;
    flex: 1;
    width: 500px;
    margin: 0 auto;
}

#hero-secondary,
#header-links a {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 400;
}

#header-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 16px;
    text-align: right;
}


#header-links a {
    text-decoration: none;
}

#header-logo {
    font-size: 24px;
    color: #F6F6F6;
    font-weight: 600;
}

button.signup {
    padding: 4px 16px;
    border-radius: 6px;
    border: 0px;
    flex: 0 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.action button.signup {
    border: 2px solid white;
}


button.signup,
.action {
    background-color: #6D9886;
    color: #f9faf8;
}

.quote {
    background-color: #e5e7eb;
    padding: 64px 12vw;
}

.quote-text {
    margin: 0;
}

.quote-author {
    text-align: right;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 0;
    padding-right: 16px;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8rem;
    margin: 4rem 12vw;
    border-radius: 5px;
    gap: 32px;
}

.action-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.8em 0;
}

.action-text h2 {
    line-height: 0;
    flex: 0;
    margin: 16px 0;
}
.action-text p {
    line-height: 1.2em;
    margin: 0;
}


h2#information-header {
    font-weight: 900;
    font-size: 36px;
    color: #212121;
    text-align: center;
}



.cards {
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    flex: 1 0 auto;
}

.card p {
    text-align: center;
}

.card img {
    border: 3px solid #6D9886;
    width: 150px;
    height: 150px;
    border-radius: 16px;
}

.quote-text {
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    color: #1f2937;
}

#footer {
    display: flex;
    justify-content: center;
}